

<%- include("header") -%> 

    <div class='box' id='heading'>
        <% if (listTitle === 'Saturday' || listTitle === 'Sunday'){ %>
        <h1 style="color: blueviolet"><%= listTitle %></h1>
        <% } else { %>
        <h1 style="color: brown;"><%= listTitle %></h1>
        <% } %>

    </div>

    <div class="box">



        <% for(let a=0; a<newListItems.length; a++){ %>

        <div class="item">
            <input type="checkbox">
            <p> <%= newListItems[a] %> </p>
        </div>

        <% } %>



        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>

    </div>






    <%- include("footer") -%> 